In [1]:
# PPV 1 = 200
# PPV 2 = 400
# PPV 3 = 600
# PPV 4 = 800
# PPV 5 = 1000
# PPV 6 = 1200

In [2]:
import constraint
import pandas as pd
from random import randint

In [3]:
# number of PPV in that Daerah
cnt_ppv1 = 3
cnt_ppv2 = 3
cnt_ppv3 = 2
cnt_ppv4 = 3
cnt_ppv5 = 2
cnt_ppv6 = 1

In [4]:
problem = constraint.Problem()

problem.addVariable('PPV_1', range(0,cnt_ppv1+1))
problem.addVariable('PPV_2', range(0,cnt_ppv2+1)) 
problem.addVariable('PPV_3', range(0,cnt_ppv3+1)) 
problem.addVariable('PPV_4', range(0,cnt_ppv4+1)) 
problem.addVariable('PPV_5', range(0,cnt_ppv5+1)) 
problem.addVariable('PPV_6', range(0,cnt_ppv6+1)) 

def vac_constraint(PPV_1, PPV_2, PPV_3, PPV_4, PPV_5, PPV_6):
    if (PPV_1*200 + PPV_2*400 + PPV_3*600 + PPV_4*800 + PPV_5*1000 + PPV_6*1200 > 4800) and (PPV_1*200 + PPV_2*400 + PPV_3*600 + PPV_4*800 + PPV_5*1000 + PPV_6*1200 < 5200):
        return True

problem.addConstraint(vac_constraint, ['PPV_1', 'PPV_2', 'PPV_3', 'PPV_4', 'PPV_5', 'PPV_6'])

solutions = problem.getSolutions() 

print("Number of solutions found: {}\n".format(len(solutions)))

for s in solutions:
    print("PPV_1 = {}, PPV_2 = {}, PPV_3 = {}, PPV_4 = {}, PPV_5 = {}, PPV_6 = {}"
        .format(s['PPV_1'], s['PPV_2'], s['PPV_3'], s['PPV_4'], s['PPV_5'], s['PPV_6']))

df = pd.DataFrame(solutions)
df['Option'] = 'Option-' + df.index.astype(str)
df.columns.tolist()

Number of solutions found: 53

PPV_1 = 3, PPV_2 = 0, PPV_3 = 2, PPV_4 = 0, PPV_5 = 2, PPV_6 = 1
PPV_1 = 1, PPV_2 = 1, PPV_3 = 2, PPV_4 = 0, PPV_5 = 2, PPV_6 = 1
PPV_1 = 2, PPV_2 = 3, PPV_3 = 2, PPV_4 = 0, PPV_5 = 1, PPV_6 = 1
PPV_1 = 2, PPV_2 = 1, PPV_3 = 2, PPV_4 = 1, PPV_5 = 1, PPV_6 = 1
PPV_1 = 0, PPV_2 = 2, PPV_3 = 2, PPV_4 = 1, PPV_5 = 1, PPV_6 = 1
PPV_1 = 0, PPV_2 = 0, PPV_3 = 2, PPV_4 = 2, PPV_5 = 1, PPV_6 = 1
PPV_1 = 3, PPV_2 = 3, PPV_3 = 2, PPV_4 = 1, PPV_5 = 0, PPV_6 = 1
PPV_1 = 3, PPV_2 = 1, PPV_3 = 2, PPV_4 = 2, PPV_5 = 0, PPV_6 = 1
PPV_1 = 1, PPV_2 = 2, PPV_3 = 2, PPV_4 = 2, PPV_5 = 0, PPV_6 = 1
PPV_1 = 1, PPV_2 = 0, PPV_3 = 2, PPV_4 = 3, PPV_5 = 0, PPV_6 = 1
PPV_1 = 2, PPV_2 = 2, PPV_3 = 1, PPV_4 = 0, PPV_5 = 2, PPV_6 = 1
PPV_1 = 2, PPV_2 = 0, PPV_3 = 1, PPV_4 = 1, PPV_5 = 2, PPV_6 = 1
PPV_1 = 0, PPV_2 = 3, PPV_3 = 1, PPV_4 = 0, PPV_5 = 2, PPV_6 = 1
PPV_1 = 0, PPV_2 = 1, PPV_3 = 1, PPV_4 = 1, PPV_5 = 2, PPV_6 = 1
PPV_1 = 3, PPV_2 = 2, PPV_3 = 1, PPV_4 = 1, PPV_5 = 1, PPV_6 = 1
PPV_1 = 3, PPV_2 = 0, PPV_3 = 1, PPV_4 = 2, PPV_5 = 1, PPV_6 = 1
PPV_1 = 1, PPV_2 = 3, PPV_3 = 1, PPV_4 = 1, PPV_5 = 1, PPV_6 = 1
PPV_1 = 1, PPV_2 = 1, PPV_3 = 1, PPV_4 = 2, PPV_5 = 1, PPV_6 = 1
PPV_1 = 2, PPV_2 = 3, PPV_3 = 1, PPV_4 = 2, PPV_5 = 0, PPV_6 = 1
PPV_1 = 2, PPV_2 = 1, PPV_3 = 1, PPV_4 = 3, PPV_5 = 0, PPV_6 = 1
PPV_1 = 0, PPV_2 = 2, PPV_3 = 1, PPV_4 = 3, PPV_5 = 0, PPV_6 = 1
PPV_1 = 3, PPV_2 = 3, PPV_3 = 0, PPV_4 = 0, PPV_5 = 2, PPV_6 = 1
PPV_1 = 3, PPV_2 = 1, PPV_3 = 0, PPV_4 = 1, PPV_5 = 2, PPV_6 = 1
PPV_1 = 1, PPV_2 = 2, PPV_3 = 0, PPV_4 = 1, PPV_5 = 2, PPV_6 = 1
PPV_1 = 1, PPV_2 = 0, PPV_3 = 0, PPV_4 = 2, PPV_5 = 2, PPV_6 = 1
PPV_1 = 2, PPV_2 = 2, PPV_3 = 0, PPV_4 = 2, PPV_5 = 1, PPV_6 = 1
PPV_1 = 2, PPV_2 = 0, PPV_3 = 0, PPV_4 = 3, PPV_5 = 1, PPV_6 = 1
PPV_1 = 0, PPV_2 = 3, PPV_3 = 0, PPV_4 = 2, PPV_5 = 1, PPV_6 = 1
PPV_1 = 0, PPV_2 = 1, PPV_3 = 0, PPV_4 = 3, PPV_5 = 1, PPV_6 = 1
PPV_1 = 3, PPV_2 = 2, PPV_3 = 0, PPV_4 = 3, PPV_5 = 0, PPV_6 = 1
PPV_1 = 1, PPV_2 = 3, PPV_3 = 0, PPV_4 = 3, PPV_5 = 0, PPV_6 = 1
PPV_1 = 3, PPV_2 = 3, PPV_3 = 2, PPV_4 = 0, PPV_5 = 2, PPV_6 = 0
PPV_1 = 3, PPV_2 = 1, PPV_3 = 2, PPV_4 = 1, PPV_5 = 2, PPV_6 = 0
PPV_1 = 1, PPV_2 = 2, PPV_3 = 2, PPV_4 = 1, PPV_5 = 2, PPV_6 = 0
PPV_1 = 1, PPV_2 = 0, PPV_3 = 2, PPV_4 = 2, PPV_5 = 2, PPV_6 = 0
PPV_1 = 2, PPV_2 = 2, PPV_3 = 2, PPV_4 = 2, PPV_5 = 1, PPV_6 = 0
PPV_1 = 2, PPV_2 = 0, PPV_3 = 2, PPV_4 = 3, PPV_5 = 1, PPV_6 = 0
PPV_1 = 0, PPV_2 = 3, PPV_3 = 2, PPV_4 = 2, PPV_5 = 1, PPV_6 = 0
PPV_1 = 0, PPV_2 = 1, PPV_3 = 2, PPV_4 = 3, PPV_5 = 1, PPV_6 = 0
PPV_1 = 3, PPV_2 = 2, PPV_3 = 2, PPV_4 = 3, PPV_5 = 0, PPV_6 = 0
PPV_1 = 1, PPV_2 = 3, PPV_3 = 2, PPV_4 = 3, PPV_5 = 0, PPV_6 = 0
PPV_1 = 2, PPV_2 = 3, PPV_3 = 1, PPV_4 = 1, PPV_5 = 2, PPV_6 = 0
PPV_1 = 2, PPV_2 = 1, PPV_3 = 1, PPV_4 = 2, PPV_5 = 2, PPV_6 = 0
PPV_1 = 0, PPV_2 = 2, PPV_3 = 1, PPV_4 = 2, PPV_5 = 2, PPV_6 = 0
PPV_1 = 0, PPV_2 = 0, PPV_3 = 1, PPV_4 = 3, PPV_5 = 2, PPV_6 = 0
PPV_1 = 3, PPV_2 = 3, PPV_3 = 1, PPV_4 = 2, PPV_5 = 1, PPV_6 = 0
PPV_1 = 3, PPV_2 = 1, PPV_3 = 1, PPV_4 = 3, PPV_5 = 1, PPV_6 = 0
PPV_1 = 1, PPV_2 = 2, PPV_3 = 1, PPV_4 = 3, PPV_5 = 1, PPV_6 = 0
PPV_1 = 3, PPV_2 = 2, PPV_3 = 0, PPV_4 = 2, PPV_5 = 2, PPV_6 = 0
PPV_1 = 3, PPV_2 = 0, PPV_3 = 0, PPV_4 = 3, PPV_5 = 2, PPV_6 = 0
PPV_1 = 1, PPV_2 = 3, PPV_3 = 0, PPV_4 = 2, PPV_5 = 2, PPV_6 = 0
PPV_1 = 1, PPV_2 = 1, PPV_3 = 0, PPV_4 = 3, PPV_5 = 2, PPV_6 = 0
PPV_1 = 2, PPV_2 = 3, PPV_3 = 0, PPV_4 = 3, PPV_5 = 1, PPV_6 = 0

['PPV_6', 'PPV_3', 'PPV_5', 'PPV_1', 'PPV_2', 'PPV_4', 'Option']

In [5]:
df_final = pd.DataFrame(df)
df_final

    PPV_6  PPV_3  PPV_5  PPV_1  PPV_2  PPV_4     Option
0       1      2      2      3      0      0   Option-0
1       1      2      2      1      1      0   Option-1
2       1      2      1      2      3      0   Option-2
3       1      2      1      2      1      1   Option-3
4       1      2      1      0      2      1   Option-4
5       1      2      1      0      0      2   Option-5
6       1      2      0      3      3      1   Option-6
7       1      2      0      3      1      2   Option-7
8       1      2      0      1      2      2   Option-8
9       1      2      0      1      0      3   Option-9
10      1      1      2      2      2      0  Option-10
11      1      1      2      2      0      1  Option-11
12      1      1      2      0      3      0  Option-12
13      1      1      2      0      1      1  Option-13
14      1      1      1      3      2      1  Option-14
15      1      1      1      3      0      2  Option-15
16      1      1      1      1      3      1  Option-16
17      1      1      1      1      1      2  Option-17
18      1      1      0      2      3      2  Option-18
19      1      1      0      2      1      3  Option-19
20      1      1      0      0      2      3  Option-20
21      1      0      2      3      3      0  Option-21
22      1      0      2      3      1      1  Option-22
23      1      0      2      1      2      1  Option-23
24      1      0      2      1      0      2  Option-24
25      1      0      1      2      2      2  Option-25
26      1      0      1      2      0      3  Option-26
27      1      0      1      0      3      2  Option-27
28      1      0      1      0      1      3  Option-28
29      1      0      0      3      2      3  Option-29
30      1      0      0      1      3      3  Option-30
31      0      2      2      3      3      0  Option-31
32      0      2      2      3      1      1  Option-32
33      0      2      2      1      2      1  Option-33
34      0      2      2      1      0      2  Option-34
35      0      2      1      2      2      2  Option-35
36      0      2      1      2      0      3  Option-36
37      0      2      1      0      3      2  Option-37
38      0      2      1      0      1      3  Option-38
39      0      2      0      3      2      3  Option-39
40      0      2      0      1      3      3  Option-40
41      0      1      2      2      3      1  Option-41
42      0      1      2      2      1      2  Option-42
43      0      1      2      0      2      2  Option-43
44      0      1      2      0      0      3  Option-44
45      0      1      1      3      3      2  Option-45
46      0      1      1      3      1      3  Option-46
47      0      1      1      1      2      3  Option-47
48      0      0      2      3      2      2  Option-48
49      0      0      2      3      0      3  Option-49
50      0      0      2      1      3      2  Option-50
51      0      0      2      1      1      3  Option-51
52      0      0      1      2      3      3  Option-52

In [6]:
w_ppv1 = 1
w_ppv2 = 2
w_ppv3 = 3
w_ppv4 = 2.5
w_ppv5 = 1
w_ppv6 = 1

def weight_calc(row):
    return (w_ppv1*row['PPV_1'] + w_ppv2*row['PPV_2'] + w_ppv3*row['PPV_3'] + w_ppv4*row['PPV_4'] + w_ppv5*row['PPV_5'] + w_ppv6*row['PPV_6'])/(w_ppv1 + w_ppv2 + w_ppv3 + w_ppv4 + w_ppv5 + w_ppv6)

df_final['Score'] = df.apply(lambda row : weight_calc(row), axis = 1)

df_final

    PPV_6  PPV_3  PPV_5  PPV_1  PPV_2  PPV_4     Option     Score
0       1      2      2      3      0      0   Option-0  1.142857
1       1      2      2      1      1      0   Option-1  1.142857
2       1      2      1      2      3      0   Option-2  1.523810
3       1      2      1      2      1      1   Option-3  1.380952
4       1      2      1      0      2      1   Option-4  1.380952
5       1      2      1      0      0      2   Option-5  1.238095
6       1      2      0      3      3      1   Option-6  1.761905
7       1      2      0      3      1      2   Option-7  1.619048
8       1      2      0      1      2      2   Option-8  1.619048
9       1      2      0      1      0      3   Option-9  1.476190
10      1      1      2      2      2      0  Option-10  1.142857
11      1      1      2      2      0      1  Option-11  1.000000
12      1      1      2      0      3      0  Option-12  1.142857
13      1      1      2      0      1      1  Option-13  1.000000
14      1      1      1      3      2      1  Option-14  1.380952
15      1      1      1      3      0      2  Option-15  1.238095
16      1      1      1      1      3      1  Option-16  1.380952
17      1      1      1      1      1      2  Option-17  1.238095
18      1      1      0      2      3      2  Option-18  1.619048
19      1      1      0      2      1      3  Option-19  1.476190
20      1      1      0      0      2      3  Option-20  1.476190
21      1      0      2      3      3      0  Option-21  1.142857
22      1      0      2      3      1      1  Option-22  1.000000
23      1      0      2      1      2      1  Option-23  1.000000
24      1      0      2      1      0      2  Option-24  0.857143
25      1      0      1      2      2      2  Option-25  1.238095
26      1      0      1      2      0      3  Option-26  1.095238
27      1      0      1      0      3      2  Option-27  1.238095
28      1      0      1      0      1      3  Option-28  1.095238
29      1      0      0      3      2      3  Option-29  1.476190
30      1      0      0      1      3      3  Option-30  1.476190
31      0      2      2      3      3      0  Option-31  1.619048
32      0      2      2      3      1      1  Option-32  1.476190
33      0      2      2      1      2      1  Option-33  1.476190
34      0      2      2      1      0      2  Option-34  1.333333
35      0      2      1      2      2      2  Option-35  1.714286
36      0      2      1      2      0      3  Option-36  1.571429
37      0      2      1      0      3      2  Option-37  1.714286
38      0      2      1      0      1      3  Option-38  1.571429
39      0      2      0      3      2      3  Option-39  1.952381
40      0      2      0      1      3      3  Option-40  1.952381
41      0      1      2      2      3      1  Option-41  1.476190
42      0      1      2      2      1      2  Option-42  1.333333
43      0      1      2      0      2      2  Option-43  1.333333
44      0      1      2      0      0      3  Option-44  1.190476
45      0      1      1      3      3      2  Option-45  1.714286
46      0      1      1      3      1      3  Option-46  1.571429
47      0      1      1      1      2      3  Option-47  1.571429
48      0      0      2      3      2      2  Option-48  1.333333
49      0      0      2      3      0      3  Option-49  1.190476
50      0      0      2      1      3      2  Option-50  1.333333
51      0      0      2      1      1      3  Option-51  1.190476
52      0      0      1      2      3      3  Option-52  1.571429

In [9]:
df_min_max_scaled = df_final.copy()
  
# apply normalization techniques by Column 1
column = 'Score'
df_min_max_scaled['NewScore'] = (df_min_max_scaled[column] - df_min_max_scaled[column].min()) / (df_min_max_scaled[column].max() - df_min_max_scaled[column].min()) * 100
  
# view normalized data
display(df_min_max_scaled)

    PPV_6  PPV_3  PPV_5  PPV_1  PPV_2  PPV_4     Option     Score    NewScore
0       1      2      2      3      0      0   Option-0  1.142857   26.086957
1       1      2      2      1      1      0   Option-1  1.142857   26.086957
2       1      2      1      2      3      0   Option-2  1.523810   60.869565
3       1      2      1      2      1      1   Option-3  1.380952   47.826087
4       1      2      1      0      2      1   Option-4  1.380952   47.826087
5       1      2      1      0      0      2   Option-5  1.238095   34.782609
6       1      2      0      3      3      1   Option-6  1.761905   82.608696
7       1      2      0      3      1      2   Option-7  1.619048   69.565217
8       1      2      0      1      2      2   Option-8  1.619048   69.565217
9       1      2      0      1      0      3   Option-9  1.476190   56.521739
10      1      1      2      2      2      0  Option-10  1.142857   26.086957
11      1      1      2      2      0      1  Option-11  1.000000   13.043478
12      1      1      2      0      3      0  Option-12  1.142857   26.086957
13      1      1      2      0      1      1  Option-13  1.000000   13.043478
14      1      1      1      3      2      1  Option-14  1.380952   47.826087
15      1      1      1      3      0      2  Option-15  1.238095   34.782609
16      1      1      1      1      3      1  Option-16  1.380952   47.826087
17      1      1      1      1      1      2  Option-17  1.238095   34.782609
18      1      1      0      2      3      2  Option-18  1.619048   69.565217
19      1      1      0      2      1      3  Option-19  1.476190   56.521739
20      1      1      0      0      2      3  Option-20  1.476190   56.521739
21      1      0      2      3      3      0  Option-21  1.142857   26.086957
22      1      0      2      3      1      1  Option-22  1.000000   13.043478
23      1      0      2      1      2      1  Option-23  1.000000   13.043478
24      1      0      2      1      0      2  Option-24  0.857143    0.000000
25      1      0      1      2      2      2  Option-25  1.238095   34.782609
26      1      0      1      2      0      3  Option-26  1.095238   21.739130
27      1      0      1      0      3      2  Option-27  1.238095   34.782609
28      1      0      1      0      1      3  Option-28  1.095238   21.739130
29      1      0      0      3      2      3  Option-29  1.476190   56.521739
30      1      0      0      1      3      3  Option-30  1.476190   56.521739
31      0      2      2      3      3      0  Option-31  1.619048   69.565217
32      0      2      2      3      1      1  Option-32  1.476190   56.521739
33      0      2      2      1      2      1  Option-33  1.476190   56.521739
34      0      2      2      1      0      2  Option-34  1.333333   43.478261
35      0      2      1      2      2      2  Option-35  1.714286   78.260870
36      0      2      1      2      0      3  Option-36  1.571429   65.217391
37      0      2      1      0      3      2  Option-37  1.714286   78.260870
38      0      2      1      0      1      3  Option-38  1.571429   65.217391
39      0      2      0      3      2      3  Option-39  1.952381  100.000000
40      0      2      0      1      3      3  Option-40  1.952381  100.000000
41      0      1      2      2      3      1  Option-41  1.476190   56.521739
42      0      1      2      2      1      2  Option-42  1.333333   43.478261
43      0      1      2      0      2      2  Option-43  1.333333   43.478261
44      0      1      2      0      0      3  Option-44  1.190476   30.434783
45      0      1      1      3      3      2  Option-45  1.714286   78.260870
46      0      1      1      3      1      3  Option-46  1.571429   65.217391
47      0      1      1      1      2      3  Option-47  1.571429   65.217391
48      0      0      2      3      2      2  Option-48  1.333333   43.478261
49      0      0      2      3      0      3  Option-49  1.190476   30.434783
50      0      0      2      1      3      2  Option-50  1.333333   43.478261
51      0      0      2      1      1      3  Option-51  1.190476   30.434783
52      0      0      1      2      3      3  Option-52  1.571429   65.217391